{% extends "base.html" %}
{% block content %}
<h5><b>About Project</b></h5>
<h6><u>Goal of the Project</u></h6>
<ul>
    <li>To create first ever handwritten Dzongkha digits datasets</li>
    <li>Design a deep learning arhitcture to classify the digits</li>
</ul>
<h6><u>Dataset</u></h6>
<p>The dataset for this project was collected from 648 students. For each class (10 classes), we have
    collectd 1500 images (in total 15000 images). Contact <a target="blank" href="https://sites.google.com/rub.edu.bt/yvision/">Yonten Jamtsho</a> for the dataset.
</p>

<h6><u>Publication</u></h6>
<p><i>Comming Soon</i></p>

{% endblock content %}
